{% extends 'base.html'%}

{% block title%}
    Password generator
{% endblock title%}

{% block content%}
<div class="container">
<h1>Formularz - Generator hasła</h1>
<form action="{% url 'result' %}" method="post">
    <div>
    <label for="length">Długość hasła:</label>
    <select id="length" name="length">
        <option value="6">6 znaków</option>
        <option value="8">8 znaków</option>
        <option value="10">10 znaków</option>
        <option value="12">12 znaków</option>
    </select>
    </div>
    <div>
    <label for="id_big">Uzyj wielkich liter</label>
    <input type="checkbox" id="id_big" name="big">
    </div>
    <div>
    <label for="id_numbers">Uzyj cyfr</label>
    <input type="checkbox" id="id_numbers" name="numbers">
    </div>
    <div>
    <label for="id_specials">Uzyj znaków specjalnych</label>
    <input type="checkbox" id="id_specials" name="specials">
    </div>
    {% csrf_token %}
    <div>
    <button type="submit">Wygeneruj</button>
    </div>
</form>

<button><a href="{%url 'about'%}"> O nas</a></button>
</div>
{% endblock content %}
